@import 'tailwindcss';

@import "@skeletonlabs/skeleton";
@import '@skeletonlabs/skeleton-svelte';
@import "@skeletonlabs/skeleton/themes/crimson";

/*@source '../node_modules/.pnpm/@skeletonlabs+skeleton@2.11.0_svelte@5.49.1/node_modules/@skeletonlabs/skeleton/dist!**!*.{html,js,svelte,ts}';*/

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
}

/*place global styles here */
html, body {
    @apply h-full;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.boca-theme body {
    background-image: url('/secret/boca-cropped.jpg');
    background-size: 100vw 100vh;
}

h1 {
    @apply h1;
}
h2 {
    @apply h2;
}
h3 {
    @apply h3;
}

a {
    @apply anchor;
}

.limit {
    max-width: 800px;
}
.limit-large {
    max-width: 1000px;
}
.limit-xl {
    max-width: 1300px;
}

h1:not(.no-header-margin), h2:not(.no-header-margin), h3:not(.no-header-margin) {
    margin-bottom: 0.25em;
}

.bottom-22 {
    bottom: 5.5rem;
}

.h-47 {
    height: 11rem;
}

.max-w-64 {
    max-width: 16rem;
}

.clear {
    color: rgba(0, 0, 0, 0);
}

.hidden-link {
    color: inherit !important;
    text-decoration: inherit !important;
}
.hidden-link.underline:hover {
    text-decoration: underline !important;
}

.fake-link {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-500) / var(--tw-text-opacity));
}
.fake-link:hover {
    --tw-brightness: brightness(1.1);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    text-decoration: underline;
}

.text-90 {
    font-size: 0.9em;
}



#nprogress .spinner-icon {
    border-top-color: #d4163c !important;
    border-left-color: #d4163c !important;
}
#nprogress .peg {
    box-shadow: 0 0 10px #d4163c, 0 0 5px #d4163c !important;
}
#nprogress .bar {
    background: #d4163c !important;
}



.anchor,.hover-underline {
    text-decoration-line: none !important;
}
:is(.anchor,.hover-underline):hover {
    text-decoration-line: underline !important;
}

ol.normal-list {
    list-style-type: decimal;
}
.normal-list {
    list-style-type: initial;
}

.background-none {
    background: transparent none !important;
}

.card {
    @apply bg-surface-900;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-inset: inset;
    --tw-ring-color: rgb(250 250 250 / .05);
    /*background-color: rgb(var(--color-surface-800));*/
    /*border-radius: var(--theme-rounded-container);*/
}

.breadcrumb {
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    width: 100%;
    align-items: center;
}
.breadcrumb li {
    display: block;
}

.dark .crumb-separator {
    @apply text-surface-300;
}
.breadcrumb > :not([hidden]) {
    @apply mr-3;
}